<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/Speech.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speech Recognition by Yamikani Mnenula</title>
  </head>
  <body>
<section>
        <h1>Speech Recognition <br>  <br> </h1>
        <div class="container">
          <div class="texts">
            <p>Hello, Say Something</p>
          </div>
        </div>
      </section>

      <script src="/js/Speech.js"></script>
    </body>
    </html>

